@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Playfair+Display&family=Protest+Revolution&family=Sixtyfour&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flor{
    width: 60%;
    height: 80%;
}

.d{
    justify-content: center;
    display: flex;
    background-color: #a53860;
    margin-bottom: 0px;
    margin-top: 70px; 
    position: relative;
}

.boton{
    height: 70px;
    margin-top: 338px;
    border: 0;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: styles;
    text-decoration: none;
}

.boton:hover{
    cursor: pointer;
    filter: grayscale(55%);
}

.Bienvenido{
    position: absolute;
    top: 80px; 
    left: 25px; 
    background-color: #a53860;
    color: white;
    font-family:great vibes;
    font-size: 120px;
}

.Elige{
    position: absolute;
    background-color: #a53860;
    color: white;
    top: 260px;
    left: 68px;
    font-family: styles;
    font-size: 30px;
}

.RE{
    font-family: great vibes;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(165, 56, 96, 0.5); 
    margin-top: 35px;
    margin-bottom: 107px;
    padding: 40px;
    box-shadow:3px 3px 3px 3px rgba(128, 71, 71, 0.959) ;
}

.Registro{
    background-color: rgba(165, 56, 96, 0);
    color: white;
    font-family: great vibes;
    font-size: 80px;
    text-shadow: 2px 2px 2px rgba(128, 71, 71, 0.959); 
}

.IN{
    width: 80%;
    height: 30px;
    border: 0;
    border-radius: 0 10% 0 10%;
    padding-left: 50px;
    font-family: styles;
    font-size: 15px;
}

.IN:hover{
    background-color:gainsboro;
}

.IN:hover::placeholder{
    color: #a53860;
}

.INI{
    font-family: styles;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 0;
    color: #a53860;
}

.INI:hover{
    cursor: pointer;
    background-color: #a53860;
    color: white;
}

.body{
        background-repeat: no-repeat;
        background-size:cover;
}

.INIC{
    font-family: styles;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: 0;
    color: #a53860;
    display: flex;
    justify-content: center;
    position: relative;
    left: 260px;
    top: 0px;
}

.INIC:hover{
    cursor: pointer;
    background-color: #a53860;
    color: white;
}

.Salir{
    position: absolute;
    left: .1px;
    top: .1px;
    background-color: #f0237c;
    border: 0;
    font-family: styles;
    color: white;
    width: 50px;
}

.Salir:hover{
    cursor: pointer;
    background-color: #a53860;
}

.Morado{
    background-color: #a53860;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.Ma{
    font-family: great vibes;
    display: flex;
    justify-content: center;
    font-size: 110px;
    align-items: center;
    margin-top: 50px;
    color: white;
    background-color: #a53860;
    padding-left: 350px;
    padding-right: 300px;
}

.B{
    margin-left: 10px;
    margin-right: 10px;
    margin: 20px;
    padding: 40px;
    border-radius: 0px 10px 0px 10px;
    color: white;
    font-family: styles;
    background-color: #2ec4b6;
}


.bu{
    border: 0;
    padding: 10px;
}

.bu:hover{
    cursor: pointer;
    background-color: #ff8fab;
    color: white;
}

.buu{
    border: 0;
    padding: 10px;
}

.buu:hover{
    cursor: pointer;
    background-color: orange;
    color: white;
}

.buuu{
    border: 0;
    padding: 10px;
}

.buuu:hover{
    cursor: pointer;
    background-color: #2ec4b6;
    color: white;
}

.Regresar{
    position: absolute;
    top: 250px;
    font-size: 20px;
    background-color: #a53860;
}

.lis{
    background-color: rgba(165, 56, 96, 0);
}

.ul{
    font-family: styles;
    font-size: x-large;
    color: #a53860;
}

li{
    background-color:rgba(165, 56, 96, 0) ;
    padding-left: 40px;
}

.INICIO{
    border: 0;
    border-radius: 0% 10% 0% 10%;
    padding: 5px;
}