@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Playfair+Display&family=Protest+Revolution&family=Sixtyfour&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(./Imagenes/il_1588xN.5598637534_3agf.avif);

}

h1, h2 {
    text-align: center;
    background-color: rgba(165, 56, 96, 0);
    color: white;
    font-family: great vibes;
    font-size: 60px;
    text-shadow: o o 10px black; 
}

#formulario,
#formulario-grupo,
#formulario-inscripcion,
#formulario-calificaciones {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: .5px;
    padding-left: 30px;
    background-color:#a11d33;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    margin-left: 200px;
    margin-right: 200px;
}

.texto{
    background-color: #a11d33;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

input[type="text"],
input[type="number"] {
    width: 500px;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 14%;
    border:none;
    border-radius: 0% 30% 0% 30%;
    font-family: styles;
    background-color: white;
}

input::placeholder {
    color: black;
}

button {
    padding: 10px 20px;
    margin-left: 38%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: styles;
    font-size: 15px;
}

button:hover {
    background-color: rgba(240, 185, 205, 0);
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    font-family: styles;
}

li{
    background-color: rgba(210, 0, 0, 0.5);
    font-family: styles;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-left: 195px;
    margin-right: 195px;
    box-shadow: 0 0 10px white;
}

.alumno,
.grupo {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.alumno:hover,
.grupo:hover {
    background-color: #e6e6e6;
}

#lista-grupos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    input[type="text"],
    input[type="number"] {
        width: 100%;
    }
}
